.products-feed__inner{
  padding: 0 var(--page-gutter);
  margin: 0 auto;
  max-width: 2400px;
}

.products-feed__pre-title,
.products-feed__title {
  margin-block-start: 0;
}

.products-feed__pre-title {
  line-height: 1;
}

.products-feed__head {
  padding-inline-end: 8em;
}

.products-feed--recommendations .products-feed__head {
  padding: 0 10rem;
  text-align: center;
}
