.card-product__link {
  display: block;
}

.card-product__media {
  padding-block-end: var(--card-media-padding);
  background-color: var(--card-media-background-color);
  mix-blend-mode: multiply;
}

.card-product__media.has-hover img.hover-img {
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--duration-default), visibility var(--duration-default);
}
.card-product__media.has-hover:hover img.is-visible + img.hover-img,
.card-product__media.has-hover:hover img.is-visible + noscript + img.hover-img {
  opacity: 1;
  visibility: visible;
  background-color: var(--card-media-background-color)
}

.card-product__media.has-hover:hover img.is-visible + noscript + img:not(.hover-img),
.card-product__media.has-hover:hover img.is-visible + img:not(.hover-img) {
  opacity: 0;
  visibility: hidden;
}

.card-product a.card-product__media {
  opacity: 1;
  visibility: visible;
  outline: none;
}

.card-product a.card-product__media::after {
  content: '';
  display: none;
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border: .2rem solid currentColor;
}

.card-product a.card-product__media:focus-visible::after {
  display: block;
}

html.js .card-product .card-product__media img:not(.is-visible, .hover-img),
html.js .card-product .card-product__media iframe:not(.is-visible, .hover-img) {
  opacity: 0;
  visibility: hidden;
}

html.js .card-product .card-product__media.media--aspect-ratio img:not(.is-visible) {
  height: 100%;
  position: absolute;
}
html.js .predictive-search__grid .card-product .card-product__media.media--aspect-ratio img:not(.is-visible) {
  height: auto;
}


html.js .card-product:not(.predictive-search__card-product).disabled .card-product__media .lazyloaded {
  opacity: 1;
  visibility: inherit;
  /* transform: none; */
}

.card-product__overlay-content {
  position: absolute;
  inset-block-start: 1.2rem;
  inset-inline: 1.2rem;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 3.2rem);
  pointer-events: none;
}
.card-product__layout--standard .card-product__overlay-content {
  inset-block-start: unset;
  inset-block-end: 1.2rem;
}

.card-product__overlay-content > :only-child {
  margin-inline-end: 0;
}

.card-product__swatches {
  pointer-events: auto;
  margin-block-start: 1.2rem;
  height: fit-content;
}

.card-product__swatches ul {
  align-items: center;
}
.card-product__layout--standard .card-product__swatches ul {
  justify-content: center;
}

.card-product__overlay-content .card-product__swatches {
  /* display: none; */
  opacity: 0;
  visibility: hidden;

  pointer-events: auto;
  margin-block-start: 0;
  margin-inline-end: 1rem;
  transition: opacity var(--duration-default), visibility var(--duration-default);
}

.card-product__swatch {
  border-color: var(--color-light);
}

input.is-active + .card-product__swatch {
  border-color: var(--color-black);
  transform: none !important;
}

input:disabled + .card-product__swatch {
  opacity: 0.6;
  border-color: var(--color-white);
}

.card-product__swatches-remaining {
  display: block;
  color: var(--color-heading-text-default);
  font-size: var(--font-size-static-extra-small);
  line-height: 1.15;
  letter-spacing: var(--letter-spacing-small);
}

.card-product__content {
  display: block;
  text-align: left;
  padding: 1.2rem .8rem 0;
}

.card-product__title {
  margin: 0;
  text-transform: uppercase;
}

.card-product__sizes{
  margin-top: 1rem;
  color: #9E9A99;
  font-size: calc(var(--font-heading-scale) * var(--h6-multiplier));
}

.card-product__price{
  margin-top: 1rem;
  font-size: calc(var(--font-heading-scale) * var(--h5-multiplier));
  font-weight: 500;
}

.card-product__layout--compact .marquee-tags {
  position: relative;
}
.card-product__layout--standard .marquee-tags {
  position: absolute;
  inset-block-end: 0;
  inset-inline-start: 0;
}

@media screen and (min-width: 750px) {
  .card-product__overlay-content {
    inset-block-start: 1.6rem;
    inset-inline: 1.6rem;
  }

  .card-product__layout--standard .card-product__overlay-content {
    inset-block-start: unset;
    inset-block-end: 1.6rem;
    inset-inline: 1.6rem;
  }
}

@media screen and (min-width: 750px) and (hover: hover) {
  .card-product__swatches {
    display: block;
  }
}

@media (hover: hover) {

  .card-product:hover .card-product__swatches,
  .card-product:hover {
  }
}
